Package: com.nswebfrog.revealloader
Name: CCRevealLoader
Depends: mobilesubstrate, preferenceloader, applist
Version: 1.0.1
Architecture: iphoneos-arm
Description: Dynamically loads Reveal server framework into iOS applications.
 CCRevealLoader dynamically loads RevealServer.framework (Reveal.app version 7 support) into iOS apps
 on jailbroken devices. Configuration is via the CCRevealLoader menu in Settings.app
 For more info, see https://github.com/webfrogs/CCRevealLoader and http://revealapp.com
Maintainer: Carl Chen <ccf.developer@gmail.com>
Author: Carl Chen <ccf.developer@gmail.com>
Section: Tweaks
